.book {
  display: flex;
  flex-flow: column;
  position: relative;
  min-width: 200px;
  max-width: 200px;
  margin-right: 20px; }
  .book__image {
    width: 100%; }
  .book__details {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    color: white;
    transition: 0.4s; }
    .book__details--open {
      background: rgba(0, 0, 0, 0.75); }
  .book__summary {
    mix-blend-mode: difference;
    font-weight: 900;
    cursor: pointer; }
  .book__manager {
    appearance: none;
    width: 10%;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0;
    color: transparent;
    mix-blend-mode: difference;
    mask-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"><g><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/></g></svg>');
    mask-repeat: no-repeat;
    transition: 0.4s; }
    .book__manager:hover {
      background-color: gold; }
