.shelf {
  text-align: center;
  background: url("http://localhost:3000/shelf.png") no-repeat center bottom;
  background-size: 100% 60px;
  padding-bottom: 50px;
  overflow: hidden; }
  .shelf:last-child {
    border-bottom: 0; }
  .shelf__name {
    margin-top: 15px; }
  .shelf__books {
    display: flex;
    align-items: flex-end;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1500px; }
