.top-nav {
  display: flex;
  background: gray;
  min-height: 50px;
  align-items: center;
  padding: 0 20px; }
  .top-nav h1 {
    margin: 0; }
  .top-nav__input {
    background: rgba(0, 0, 0, 0);
    color: black;
    border: 0;
    width: 100%; }
  .top-nav__search {
    all: unset;
    cursor: pointer;
    transition: 0.4s;
    margin-left: auto;
    font-size: 2em; }
    .top-nav__search:hover {
      color: gold; }
